:root{
    --black:#000;
    --white:#fff;
    --header:"helvetica neue medium" ;
    --body:"helvetica neue light" ;
}

@font-face{
    font-family: "helvetica neue medium" ;
    src: url('/assets/fonts/helvetica-neue/HelveticaNeueBlackItalic.otf')format('opentype');
}
@font-face{
    font-family: "helvetica neue light" ;
    src: url('/assets/fonts/helvetica-neue/HelveticaNeueLight.otf')format('opentype');
}

*,*::before,*::after{
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html,body{
    font-family: var(--body);
    
    color: var(--white);
    letter-spacing: 1px;
    overflow-x: hidden;
    padding:0rem;
    margin:0rem;
}
.container{
    width:1200px;
    max-width: 100%;
    margin:auto;
    
}
.row{
    display:flex;

}
.row > .col{
   flex: 1; 
}
.bg-video{
position: fixed;
top: 0;
left:0;
width: 100%;
height:100%;
object-fit: cover;
z-index:-1 ;
}

nav{
    padding:25px;
    position:absolute;
    width: 100%;
}
nav .content-right{
    text-align: right;
}
nav .row{
    align-items: center;
}
nav .content-left a{
    color:var(--white);
    display: flex;
    align-items: center;
    text-decoration:none ;
    font-size: 15px;
}
nav .content-left img{
    width: 50px;
    height: auto;
    margin-right: 25px;
}
nav .content-right ul{
    list-style: none;
    display:flex;
    justify-content: flex-end;
    padding: 0px;
    gap: 20px;
}
nav .content-right a{
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
}
nav .content-right a.btn{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--white);
    padding: 15px 20px;
    border-radius:25px;
    font-size:14;
    transition: all 0.2s;
}
nav .content-right a.btn:hover{
    background-color:transparent;
    color: var(--white);
}
header{
    display: flex;
    height:100vh ;position: relative;
}
header .content{
    text-align:center;
    
}
header .content span{
    display: block;
}
header .content img{
    width: 100px;
    height: auto;
    padding: 25px;
}
 h1{
    font-size: 58px;
    line-height: 1.2;
}
h2{
    font-size: 54px;
    line-height: 1.2;
    padding:0px 50px;
}
 .btn-outlined{
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 15px 35px;
    border-radius:25px;
    font-size:14;
    transition: all 0.2s;
    text-decoration: none;
}
 .btn-outlined:hover{
    background-color:var(--white);
    color: var(--black);
    
}
header .content-slide{
    position:absolute;
    left:-50px;
    transform:rotate(270deg);
   
}
header .content-slide a{
    color: var(--white);
    text-decoration: none;
    font-size:10px;
    text-transform:uppercase;
    opacity: .5;
    transition: all 0.2s;
}
header .content-slide a:hover{
    opacity: 1;
}
section{
    min-height: 100vh;
     display: flex;
}
.s-01{
   text-align: center;
}
.s-02 {
    text-align: center;
}
.s-02 .box{
    text-align: center;
    background: linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,.05));
    width: 90%;
    backdrop-filter:blur(12px) ;
    margin: auto;
    padding: 100px 25px;
    border-radius: 25px;
}
.s-02 .box h2{
    font-size:18px;
    letter-spacing: 4px;
    margin-bottom: 35px;

}
.s-02 .box img{
    height: 100px;
   width: auto;
}
.s-03 .title h2{
    position:relative;
    display:block ;
}
.s-03 .title h2::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width:75%;
    background-color: var(--white);
}
.s-03 .title.title-line-spacing h2::after{
width:65%;
}
.s-03 img{
    width: 80%;
    height: auto;
    padding:0px 50px;

}
.s-04 .content{
    text-align: right;
}
.s-04 .title h2{
    position:relative;
    display:block ;
}
.s-04 .title h2::after{
    content: "";
    position: absolute;
    top: 50%;
   left: 0;
    height: 2px;
    width:55%;
    background-color: var(--white);
}
.s-04 img{
    width: 80%;
    height: auto;
    padding:0px 50px;

}
.s-05{
   text-align: center; 
}
.s-05 a.btn{
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    border: 1px solid var(--white);
    padding: 15px 20px;
    border-radius:25px;
    font-size:14;
    transition: all 0.2s;
}
.s-05 a.btn:hover{
    background-color:transparent;
    color: var(--white);
}
footer{
    text-align: center;
    padding: 50px;
}
footer a{
    color:var(--white);
    text-decoration: none;

}
footer span{
    margin:0px 10px;
}
footer p{
    font-size: 10px;
    padding-top:14px;
}
button.mobile-nav{
    color: var(--white);
    background: transparent;
    border: unset;

}
button.mobile-nav:hover{
    cursor: pointer;
}
.mobile-nav{
    display:none
}
.mobile-nav-menu{
    background-color: var(--white);
    position: absolute;
    right: 25px;
    top: 25px;
    z-index:10;
    border-radius: 25px;
    width: 250px;
    max-width: 100%;
    padding-bottom: 25px;
    display: none;
}
.mobile-nav-menu .close-menu{
    background: transparent;
    border: unset;
    display: block;
    text-align: right;
    width: 95%;
    padding-top: 15px;
}
.mobile-nav-menu li{
    padding-bottom: 25px;
}
.mobile-nav-menu li a{
    color:var(--black);
    text-decoration: none;
}
.mobile-nav-menu.open{
    display: block;
}